<nav class="navbar">
    <i class="fa-solid fa-burger logo"></i>
    <ul class="navbar">
        
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/menu" class="nav-link">Menu</a></li>
        <li><a href="/random" class="nav-link">Random</a></li>
    </ul>
</nav>