<%- include ('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

<h1>THIS IS THE DETAILS PAGE</h1>
<% console.log("NEW REFRESH") %>
<% console.log(menu.burgers[0].name); %>

<%-include ('partials/footer.ejs') %>