<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<section class="hero">
    <div class="hero-text">
        <h1 class="welcome">Welcom To (Burger Place)</h1>
        <h2 class="tagline">Your go-to spot for great food and good times</h2>
        <p>Join Us For Delicious Food and Memorable Moments</p>
        <a href="/menu"><button id="menu-btn" class="menu-btn details">View Menu</button></a>
    </div>
    <div class="hero-img-container">
        <img src="/imgs/bacon-cheeseburger.jpg" class="hero-img" alt="">
    </div>
    
</section>

<%- include('partials/footer.ejs') %>